@import url('https://fonts.googleapis.com/css?family=Macondo|Raleway|Roboto');

body {
    background-image: url("../images/playstation.png"); 
    margin: 0;
    padding: 0.5%;
    color: #5d5d5d;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-flow: row wrap;
    flex: 1 100%;
    text-align: center;

}

header {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
}

nav {
    width: 100%;
    display: flex;
    padding: 0;
    text-align: center;
    font-size: 22px;
    
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

 nav li {
    padding: 1%;
    width: 25%;
 }

 nav a {
    text-decoration: none;
    color: inherit;
 }

main {
    width: 100%;
}

.content {
    margin: 0;
    padding: 1%;
    text-align: center;
    border-style: solid;
    border-width: 2px 0 2px 0;
}




/*.navigation {
    display: flex;
}*/

/*@media  (min-width: 768px) {
    nav {
        flex:1 auto;
        order:1;
    }
    .content {
        flex:5 23px;
        order:2;
    }
    footer {
        order:3;
    }
}*/
