@import url('https://fonts.googleapis.com/css?family=Macondo|Pacifico|Raleway|Roboto');

/*fonts*/
/*
font-family: 'Roboto', sans-serif;
font-family: 'Macondo', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Pacifico', cursive;
*/


/*All pages style*/
* {
    box-sizing: border-box;
}

body {
    /*background-image: url("../images/naturalblack.png"); */
    background: #fff;
    margin: 0px;
    padding-top: 0.5%;
    color: #5d5d5d;
    font-family: Roboto, sans-serif;
    text-align: center;
}

header {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1%;
}

/*All page style ends */

header h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
}

header a {

    text-decoration: none;
    color: #5d5d5d;
}

#portfolio-heading {
    font-family: 'Pacifico', cursive;
}

#portfolio-heading:hover {
    color: #3a3ebe;
}


nav {
    width: 100%;
    display: flex;
    padding: 0;
    text-align: center;
    font-size: 22px;
    margin-bottom: 1%;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

nav li {
    padding: 1%;
    width: 25%;
    color: #bec3cf;
    background-color: #f6f6f6;
 }

nav li:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    background-image: url("../images/naturalblack.png");
    color: white;
    font-family: Raleway;
}

nav a {
    text-decoration: none;
    color: inherit;
 }
 

.main {
    width: 100%;
    background-image: url("../images/playstation.png"); 
    color: #5d5d5d;
    border: none;
    padding:0;
    margin: 0;
}

.content {
    margin: 0;
    padding: 1%;
    text-align: center;
    /*border-style: solid;
    border-width: 2px 0 0 0;*/
}


footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/naturalblack.png);
    color: white;
}

footer h3 {
    padding-top: 1%;
}

footer p {
    text-align: center;
    margin: 0;
    padding: 1%;
}


/*CV Page CSS*/

.pro_pic_container {
    display: inline-block;
}

#myphoto {
    /*need to put good responsive size*/
    width: 70%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;

}

.cv_section {
    display: inline-block;
    float: left;
    text-align: left;
    flex: auto;
}

.cvmain {
    /*background-image: url("../images/playstation.png"); */
    color: #5d5d5d;
    border: none;
    padding:0;
    margin: auto;
    width: 100%;
}

/*.cv_content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}*/

/*Card related css*/

.container_card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.65);
    transition: 0.3s;
    margin: auto;
    /*display: flex;*/
    flex-flow: column wrap;
    justify-content: space-around;
    width: 60%;
    padding: 2%
}

/*.container_card:hover {
    width: 80%;
    transition-duration: 1s;
}*/


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    color: #8d8d8d;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    color: #5d5d5d;
    transform: scale(1.05, 1.05);
    background-image: url(../images/playstation.png);
    color: #5d5d5d;
}


/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    text-align: center;
    width: 100%
}
/*
#card-photo {
    width:100%;
    display: inline-block;
    flex:1;
}*/

@media only screen and (max-width: 1024px){

    .container_card {
        width: 100%;
        padding: 2%
    } 

}


/*About me page css*/

.cvcontent {
    margin: 0;
    padding: 1%;
    text-align: center;
    /*border-style: solid;
    border-width: 2px 0 0 0;*/
}

.cvcontent p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.cvcontent h1 {
    font-size: 40px;
}

.cvcontent h2 {
    font-size: 27px;
}


.textface {
    font-size: 22px;
    color: #5d5d5d;
    display: inline-block;
    animation-name: changeface;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes changeface {
    0% {color:#5d5d5d; }
    15%{color:#7f8c8d; }
    35%{color:#ecf0f1; }
    55%{color:#8e44ad; }
    75%{color:#2ecc71; }
    85%{color:#f1c40f; }
    100%{color:#34495e; }
}

.textface:hover {
    transform: scale(1.1, 1.1);
}


/*Contact Page CSS*/

.contact-main {
    width: 97%;
    background-image: url("../images/playstation.png"); 
    color: #5d5d5d;
    border: none;
    padding:0;
    margin: auto;
}

@media only screen and (max-width: 720px){

    .contact-main {
        width: 98%;
        padding: 2%;
    } 
}


.ctcard {
    color: #8d8d8d;
    padding: 1%;
}

form {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

form h2 {
    padding-top: 1%
}

form p{
    font-size: 18px;
    margin: 0;
}

input {
    width: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s;
    position: static;
}

input:focus {
    border: none;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05, 1.05);
    transition: 0.4s;
}

textarea {
    width: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s;
}


@media only screen and (max-width: 720px){

    input {
        width: 100%;
    }

    form p {
        font-size: 22px;
    }

    textarea {
        width: 100%;
    }

}

/*.navigation {
    display: flex;
}*/

/*@media  (min-width: 768px) {
    nav {
        flex:1 auto;
        order:1;
    }
    .content {
        flex:5 23px;
        order:2;
    }
    footer {
        order:3;
    }
}*/
